/* Elements Globaux */
/* @font-face {
    font-family: Garrick;
    src: url('fonts/GarrickBold.woff')  format('woff');
} */

#testLocalisation {
    top: 57%;
    left: 47%;
}

* {
    margin: 0;
    padding: 0;
    font-family: Garrick;
}
#body {
    display: flex;
    padding-top: 7vh;
    flex-direction: column;
    background-image: url(images/background/background_bois.png);
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1280px;
    max-height: 720px;
    z-index: 0;
    gap: 1rem;
}

/* Header*/
#header {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#footer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    
    height: fit-content;
}

/* Ecran d'Accueil */
#logo {
    width: 100%;
    max-width: 800px;
}
#commencer {
    position: absolute;
    margin-top: 350px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: black;
    filter: drop-shadow(0 0 5em black);
    
}
#fondIntro {
    height: 100%;
}
#ecranAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 1280px;
    height: 720px;
}


/* Ecran menu principal */
#ecranMenuPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/fond_parchemin.png');
    height: 80vh;
    width: 80vw;
    gap: 2em;
}
.boutonMenuPrincipal {
    border: 3px solid black;
    border-radius: 10px;
    min-width: 16rem;
    padding: 1rem;
    font-size: 2rem;
    color:bisque;
    background-color: saddlebrown;
}

/* Ecran Menu Dev */
#ecranMenuDev {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/fond_parchemin.png');
    height: 80vh;
    width: 80vw;
    gap: 2em;
}
#boutonMenuDev {
    background-color: brown;
}

/* Ecran Sauvegardes  */
#ecranSauvegardes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 720px;
    border: 3px solid black;
    border-radius: 10px;
    gap: 1rem;
    background-image: url('images/background/fond_parchemin.png');;
}
#cadreSauvegarde {
    display: grid;
    grid-template-areas: 
        "a a a c c c c c c e e e"
        "b b b d d d d d d e e e"
        "b b b d d d d d d e e e";
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 90%;
    height: 25%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid 5px white;
    background-color: rgba(0, 0, 0, .5);
}
#cadreSauvegardeNom, #cadreSauvegardeDate, #cadreSauvegardeLieu, #cadreSauvegardeInfos, #cadreSauvegardeCharset {
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#cadreSauvegardeNom {
    grid-area: a;
    padding: 1rem;
}
#cadreSauvegardeDate {
    grid-area: b;
    font-size: 1.5rem;
    padding: 1rem;
}
#cadreSauvegardeLieu {
    grid-area: c;
}
#cadreSauvegardeInfos {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    grid-area: d;
}
#cadreSauvegardeCharset {
    grid-area: e;
}
#sauvegardeCharset {
    width: 100%;
}

/* MenuCombat */

#ecranCombat {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    width: 1280px;
    height: 720px;
    gap: 1rem;
    overflow: hidden;
}
#imageCombat {
    width: 100%;
}

/* Personnage en combat */
#emplacementPersonnage, #imagePersonnage, #niveauPersonnage, #nomPersonnage, #barreDeVieMax, #barreDeMagieMax, #barreDeVie, #barreDeMagie, #pv, #pm, #pointsDeVie, #pointsDeMagie {
    font-size: 1.2rem;
    font-weight: 700;
    color : white;
    text-shadow:
    1.2px 1.2px 0 #000,
    -1.2px -1.2px 0 #000,
    1.2px -1.2px 0 #000,
    -1.2px 1.2px 0 #000;
}

#emplacementPersonnage {
    display: flex;
    position: absolute;
    bottom: 1%;
    right: 1%;
    height: 100px;
    width: 300px;
    border: white 2px solid;
    background-color: rgba(0, 0, 0, .5);
}
#partieImage {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 33%;
}
#imagePersonnage {        
    position: absolute;
    width: 80%;
    height: 80%;
}
#niveauPersonnage {
    margin-top: 80%;
    height: 20%;
    z-index: 2;
}
#partieBarres {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    gap: 15%
}
#nomPersonnage {
    width: 50%;
    height: 20%;
    margin-bottom: 2%;
    font-size: 1.3rem;
}
#barreDeVieMax, #barreDeMagieMax {
    display: flex;
    position: relative;
    width: 95%;
    height: 15%;
    border: black 2px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);

}
#headerBarreDeVie, #headerBarreDeMagie {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: -70%;
    left: 5%;
    width: 90%;
}
#barreDeVie, #barreDeMagie {
    position: absolute;
    height: 100%;
    border-radius: 10px;
}
#barreDeVie {
    background-color: lime;
}
#barreDeMagie {
    background-color: cyan;
}



/* Ecran Inventaire */
/* #ecranInventaire {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80vh;
    width: 95%;
    max-width: 1200px;
    gap: 10px;
}
#ecranObjets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.8;
    height: 80vh;
    width: 60vw;
    max-width: 890px;
    border: solid black 6px;
    border-radius: 10px;
    background-color: black;
}
#listeObjets {
    display: flex;
    flex-wrap: wrap;
}

.imageObjet {
    height: 80%;
}
#listeObjets {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}
#emplacementObjet {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 2px solid white;
    border-radius: 10px;
}
#nombreObjet {
    color: white;
    text-align: center;
    position: absolute;
    border: 2px solid white;
    width: 20px;
    border-radius: 50%;
    bottom: -10%;
    right: -10%;
    background-color: black;
}
#descriptionObjet {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 100px;
    width: 100%;
    color: white;
    border: 2px white;
    border-radius: 10px;
}


#ecranCombat {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80vh;
    width: 95%;
    max-width: 1200px;
    gap: 10px;
}
#ecranMonstre {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    height: 80vh;
    width: 60vw;
    max-width: 890px;
    gap: 2rem;
    background-image: url('images/background/prairie.png');
    background-size: cover;
    background-position: center;
}
#imageMonstre {
    position: relative;
    overflow: hidden;
}
#ecranJoueur, #ecranStats {
    border: solid black 6px;
    border-radius: 10px;
    height: 80vh;
    min-width: 300px;
    background-image: url('images/background/fond_parchemin.png');
    background-size: cover;
    background-position: center;
    gap: 1rem;
}
#headerPlusBoutons, #headerPlusBoutonsS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 1rem;
}
#headerEcranJoueur, #headerEcranJoueurS {
    width: 200px;
}
#emplacementNomNiveau, #emplacementNomNiveauS {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
#emplacementBoutons, #emplacementBoutonsS {
    display: flex;
    gap: 1rem;
}
#emplacementImageHeros {
    height: 60%;
}
#emplacementImageHerosMini {
    display: none;
}
#imageHeros {
    display: flex;
    height: 100%;
}
#imageHerosMini {
    display: none;
}
.boutonCombat {
    width: 5rem;
    border-radius: 50%;
}
.boutonCombat:hover {
    filter: drop-shadow(0 0 1px black);
} */

/* Carte Du Monde */
#carteDuMonde {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
#imageCarteDuMonde {
    max-height: 100%;
    z-index: 0;
}
.lieu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    font-size: 2rem;
} 
.nomDuLieu {
    position: absolute;
    color: saddlebrown;
}
#imageLabel {
    width: 80%;
}

.punaise {
    position: absolute;
    color: #bd0000;
    width: 2.5rem;
    z-index: 1;
}

/* Menu Magasin / Menu Eglise / Menu Inventaire */

#ecranMagasin, #ecranMagasinD, #ecranEglise {
    display: grid;
    position: absolute;
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
#ecranMagasin {
    grid-template-areas: 
        "a a a c d d d d d d d d d d e e"
        "b b b c d d d d d d d d d d e e"
        "b b b c d d d d d d d d d d e e"
        "b b b c d d d d d d d d d d e e"
        "b b b c d d d d d d d d d d e e"
        "b b b c d d d d d d d d d d e e"
        "b b b c d d d d d d d d d d e e"
        "h h i i i i i i i i i i i i j j"
        "h h i i i i i i i i i i i i j j";
}
#ecranMagasinD {
    grid-template-areas: 
        "a a a c d d d d d d e e f f f f"
        "b b b c d d d d d d e e f f f f"
        "b b b c d d d d d d e e f f f f"
        "b b b c d d d d d d e e f f f f"
        "b b b c d d d d d d e e g g g g"
        "b b b c d d d d d d e e g g g g"
        "b b b c d d d d d d e e g g g g"
        "h h i i i i i i i i j j g g g g"
        "h h i i i i i i i i j j k k k k";
}
#ecranEglise {
    grid-template-areas: 
        "b b b e e e e e e e e e e e e e"
        "b b b e e e e e e e e e e e e e"
        "b b b e e e e e e e e e e e e e"
        "b b b e e e e e e e e e e e e e"
        "b b b e e e e e e e e e e e e e"
        "b b b e e e e e e e e e e e e e"
        "b b b e e e e e e e e e e e e e"
        "h h i i i i i i i i i i i i j j"
        "h h i i i i i i i i i i i i j j";
}
#magasinArgentJoueur, #magasinSelectionAction, #magasinObjetIcone, #magasinObjetNom, #magasinObjetPrix, #magasinObjetImage, #magasinObjetDescription, #magasinObjetEffet, #magasinVendeurCharset, #magasinVendeurDialogue, #magasinBoxValidation, #egliseSelectionAction, #egliseEmplacementSauvegardes, #eglisePretreCharset, #eglisePretreDialogue, #egliseBoxValidation {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    max-width: 100%;
    max-height: 100%;
    font-size: 2rem;
} 
#magasinObjetIcone, #magasinObjetNom, #magasinObjetPrix, #egliseEmplacementSauvegardes {
    flex-direction: column;
    border-top: solid 2px white;
}
#objetNom, #objetPrix, #optionAcheter, #optionVendre, #optionSortir, #optionSauvegarder, #optionCharger {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    height: 72px;
}
#magasinObjetIcone {

}
#objetIcone {
    display: flex;
    align-items: center;
    padding: 4px;
    height: 64px;
}
.selectionActive, .clickActive, #optionAcheter:hover, #optionVendre:hover, #optionSortir:hover, #optionSauvegarder:hover, #optionCharger:hover, #boxOui:hover, #boxNon:hover, #cadreSauvegarde:hover {
    background-color: rgba(120, 220, 255, 0.5);
    color: black;
}
#magasinArgentJoueur {
    grid-area: a;
    align-items: center;
    justify-content: center;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px white;
}
#magasinSelectionAction, #egliseSelectionAction {
    grid-area: b;
    flex-direction: column;
    font-size: 2rem;
    border-top: solid 2px white;
    border-right: solid 2px white;
    border-left: solid 2px white;
}
#magasinObjetIcone {
    grid-area: c;
}
#magasinObjetNom {
    grid-area: d;
} 
#magasinObjetPrix, #egliseEmplacementSauvegardes {
    grid-area: e;
    display: flex;
    border-right: solid 2px white;
}
#egliseEmplacementSauvegardes {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#magasinObjetImage {
    grid-area: f;
    display: none;
    align-items: center;
    justify-content: center;
    border-right: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
} 
#objetImage {
    width: 80%;
    height: 80%;
}
#magasinObjetDescription {
    grid-area: g;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-right: solid 2px white;
} 
#magasinObjetEffet {
    grid-area: k;
    display: none;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
}
#magasinVendeurCharset, #eglisePretreCharset {
    grid-area: h;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
} 
#magasinVendeurDialogue, #eglisePretreDialogue {
    grid-area: i;
    padding: 0.5rem;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-right: 2px white;
} 
#magasinBoxValidation, #egliseBoxValidation {
    grid-area: j;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
#boxOui, #boxNon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    border: solid white 2px;
}



/* Ecrans lieux*/
.imageFond {
    overflow: hidden;
}

#ville, #magasin, #eglise {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-size: cover;
    height: 720px;
    width: 1280px;
    gap: 2em;
}
.deplacement {
    position: absolute;
    color: #bd0000;
    font-size: 4rem;
    z-index: 1;
} 
#imageLabelInterieur {
    width: 100%;
}
#labelLieu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15%;
    font-size: 2rem;
}
#labelNomDuLieu {
    position: absolute;
    color: saddlebrown;
}


/* Barre de vie  */
.barreDeVie {
    min-width: 200px;
    height: 15px;
    border: solid 2px gray;
    border-radius: 1rem;
    background-color: #ccc;
    /* position: relative; */
}
.valeurBarreDeVie {
    height: 100%;
    border-radius: 1rem;
    background-color: green;
}
.pointsDeVie {
    position: absolute;
    z-index: 3;
    /* top: 0;
    left: 50%; */
    /* transform: translateX(-50%); */
}


/* Audio */
#volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: goldenrod;
}
#curseurVolume {
    accent-color: goldenrod;
    width: 200px;
}
#boutonsAudio {
    position: absolute;
    display: flex;
    justify-content: right;
    bottom: -60px;
    left: 5%;
    gap: 1rem;
    z-index: 4;
}
i {
    font-size: 3rem;
    color: goldenrod;
}


/* @media screen and (max-width: 1000px){
    #ecranCombat {
        display: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        height: 88vh;
        width: 360px;
    }
    #ecranMonstre {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        border: solid black 6px;
        border-radius: 10px;
        height: 60vh;
        width: 95vh;
        background-image: url('images/background/prairie.jpg');
        background-size: cover;
    }
    #ecranJoueur {
        display: flex;
        position: relative;
        align-items: flex-start;
        height: 25vh;
        width: 95vh;
    }
    #headerPlusBoutons {
        height: 25vh;
        align-items: center;
        justify-content: space-evenly;
    }
    .boutonCombat {
        width: 3rem;
        justify-content: center;
    }
    #emplacementImageHeros {
        display: none;
    }
    #emplacementImageHerosMini {
        display: flex;
    }
    #imageHerosMini {
        position: absolute;
        display: flex;
        right: 1%;
        top: 10%;
        width: 8em;
        height: 10em;
    }
    #emplacementBoutons {
        position: inherit;
    }
    .barreDeVie {
        min-width: 170px;
        height: 15px;
        border: solid 2px gray;
        border-radius: 1rem;
        background-color: #ccc;
        /* position: relative; */
    /* }

    #ecranInventaire {
        display: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        height: 88vh;
        width: 360px;
    }
    #ecranObjets {
        height: 60vh;
        width: 95vh;
    }
    #ecranStats {
        height: 25vh;
        width: 95vh;
    }
    #listeObjets {
        display: flex;
        flex-wrap: wrap;
        gap: 11px;
    }
    #emplacementObjet {
        position: relative;
        width: 75px;
        height: 75px;
        border: 2px solid white;
        border-radius: 10px;
    }





    #boutonsAudio {
        position: absolute;
        display: flex;
        justify-content: right;
        gap: 1rem;
        padding: 0.5rem;
        bottom: 0.5rem;
        z-index: 4;
    }
    i {
        font-size: 2.5rem;
        color: goldenrod;
    }
} */ 

