* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background/background_bois.jpg);
    background-size: cover;
}

header {
    position: absolute;
    width: 60%;
    z-index: 2;
}

#header {
    display: flex;
    justify-content: center;
}

#logo {
    width: 100%;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    /* padding-top: 10%; */
    z-index: 0;
    gap: 1rem;

}

#ecranAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/fond_parchemin.jpg');
    height: 75vh;
    width: 90%;
}

#lancerMenuPrincipal {
    border: 3px solid black;
    border-radius: 10px;
    width: 30rem;
    font-size: 2rem;
    color:bisque;
    background-color: saddlebrown;
}

#ecranMenuPrincipal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/fond_parchemin.jpg');
    height: 75vh;
    width: 90%;
    gap: 5em;
}

.boutonMenuPrincipal {
    border: 3px solid black;
    border-radius: 10px;
    width: 30rem;
    font-size: 2rem;
    color:bisque;
    background-color: saddlebrown;
}

#carteDuMonde {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/carte.png');
    height: 75vh;
    width: 90%;
    gap: 5em;
}

#ecranCombat {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 75vh;
    width: 95%;
    gap: 1%;
}

#ecranMonstre {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    height: 75vh;
    width: 70%;
    background-image: url('images/background/prairie.jpg');
    background-size: cover;
}

#ecranJoueur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: solid black 6px;
    border-radius: 10px;
    height: 75vh;
    width: 30%;
    background-image: url('images/background/fond_parchemin.jpg');
    background-size: cover;
}

/* Barre de vie  */
.barreDeVie {
    width: 200px;
    height: 20px;
    border: solid 2px gray;
    border-radius: 1rem;
    background-color: #ccc;
    position: relative;
}

.valeurBarreDeVie {
    height: 100%;
    border-radius: 1rem;
    background-color: green;
}

.pointsDeVie {
    position: absolute;
    z-index: 3;
    /* top: 0;
    left: 50%; */
    /* transform: translateX(-50%); */
}