/* Elements Globaux */
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(images/background/background_bois.jpg);
    background-size: cover;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    height: 90vh;
    z-index: 0;
    gap: 1rem;
}


/* Header*/
header {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    text-align: center;
}
#logo {
    width: 100%;
    max-width: 700px;
}


/* Ecran d'Accueil */
#ecranAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/fondIntro.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 90%;
    max-width: 1500px;
}


/* Ecran menu principal */
#ecranMenuPrincipal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    background-image: url('images/background/fond_parchemin.jpg');
    height: 80vh;
    width: 90%;
    gap: 5em;
}
.boutonMenuPrincipal {
    border: 3px solid black;
    border-radius: 10px;
    min-width: 20rem;
    font-size: 2rem;
    color:bisque;
    background-color: saddlebrown;
}


/* Ecran Inventaire */
#ecranInventaire {
    display: none;
}
#ecranObjets {
    display: flex;
}
#ecranStats {
    display: flex;
}


/* Combat */
#ecranCombat {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80vh;
    width: 95%;
    max-width: 1400px;
    gap: 1%;
}
#ecranMonstre {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: solid black 6px;
    border-radius: 10px;
    height: 80vh;
    width: 70%;
    background-image: url('images/background/prairie.jpg');
    background-size: cover;
    background-position: center;
}
#ecranJoueur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: solid black 6px;
    border-radius: 10px;
    height: 80vh;
    width: 30%;
    background-image: url('images/background/fond_parchemin.jpg');
    background-size: cover;
    background-position: center;
}
#imageHeros {
    max-height: 50%;
}
#boutonAttaque {
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    color:bisque;
    background-color: saddlebrown;
}


/* Carte Du Monde */
#carteDuMonde {
    display: none;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 85vh;
}
#imageCarteDuMonde {
    position: relative;
    max-height: 100%;
}
#lieu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    font-size: 2rem;
} 
#imageLabel {
    width: 70%;
}
#nomDuLieu {
    position: absolute;
    color: saddlebrown;
}

.punaise {
    position: absolute;
    color: #bd0000;
    font-size: 2rem;
}


/* Barre de vie  */
.barreDeVie {
    min-width: 200px;
    height: 20px;
    border: solid 2px gray;
    border-radius: 1rem;
    background-color: #ccc;
    /* position: relative; */
}
.valeurBarreDeVie {
    height: 100%;
    border-radius: 1rem;
    background-color: green;
}
.pointsDeVie {
    position: absolute;
    z-index: 3;
    /* top: 0;
    left: 50%; */
    /* transform: translateX(-50%); */
}


/* Audio */
#boutonsAudio {
    position: absolute;
    display: flex;
    justify-content: right;
    padding: 1rem;
    gap: 1rem;
    z-index: 4;
}
i {
    font-size: 3rem;
    color: goldenrod;
}

@media screen and (max-width: 750px){
    #ecranCombat {
        display: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        height: 80vh;
        width: 95%;
        max-width: 1400px;
        gap: 1%;
    }
    #ecranMonstre {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        border: solid black 6px;
        border-radius: 10px;
        height: 50vh;
        width: 95%;
        background-image: url('images/background/prairie.jpg');
        background-size: cover;
    }
    #ecranJoueur {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        border: solid black 6px;
        border-radius: 10px;
        height: 25vh;
        width: 95%;
        background-image: url('images/background/fond_parchemin.jpg');
        background-size: cover;
    }
    #headerEcranJoueur {
    
    }

    #imageHeros {
        position: absolute;
        bottom: -25%;
        right: 5%;
    }
    #boutonAttaque {
        bottom : 5%;
        border: 3px solid black;
        border-radius: 10px;
        width: 10%;
        font-size: 2rem;
        color:bisque;
        background-color: saddlebrown;
    }

    #boutonsAudio {
        position: absolute;
        display: flex;
        justify-content: right;
        padding: 0.5rem;
        gap: 1rem;
        bottom: 0.5rem;
        z-index: 4;
    }
    i {
        font-size: 2.5rem;
        color: goldenrod;
    }
}

